<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Pandora Events</title>
  <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
  <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
  <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
  <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
  <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
  <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
  <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
  <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

  <script type="text/javascript">
    $(document).ready(function() { $("#myTable").tablesorter(); });
    function openDetails(href) {
      $.get('/pandora_scrape', {href: href}, function(resp) { 
        $.fancybox({ 
          afterShow: function() {
            var fb = $('.fancybox-inner');
            var children = fb.children();
            var beforeFirstDiv = true;
            for (var i = 0; i < children.length ;i++) {
              var child = children[i];
              if (beforeFirstDiv) {
                if (child.tagName.toLowerCase() === "div") {
                  beforeFirstDiv = false;
                  child.style.display = "block";            
                }
              }
              if (child.tagName.toLowerCase() === "p") child.remove();
              if (child.className === "show_more") { child.remove(); break;}
            }
            var fixPandoraHref = function(a) {
              a.href = a.href.replace('warm-lake-98113.herokuapp', 'pandora');
              a.taret = "_blank";
              return a;
            }
            $('.track_link').each(function(i, a) {fixPandoraHref(a);});
            $('.artist_link').each(function(i, a) {fixPandoraHref(a);});
          },
          content: resp
        }); 
      });
    }
  </script>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Pandora Events</h2>

<table id="myTable" class = "tablesorter table" style="width: 100%;">
	<thead>
		<tr>
			<th>ID</th>
			<th>Event</th>
			<th>Username</th>
			<th>Station ID</th>
			<th>Station Name</th>
			<th>Song</th>
			<th>Shuffle Enabled?</th>
			<th>Date</th>
      <th>Track Features</th>
		</tr>
	</thead>
	<tbody>
    <% results.forEach(function(r) { %>
    		<tr>
    			<td><%= r.id %></td>
    			<td><%= r.event %></td>
    			<td><%= r.username %></td>
    			<td><a href="https://pandora.com/station/<%= r.stationid %>" target="_blank"><%= r.stationid %></a></td>
    			<td><%= r.stationname %></td>
    			<td><a target="_blank" href="<%= r.songhref %>"><%= r.songname %></a></td>
    			<td><%= r.shuffleenabled %></td>
    			<td><%= r.date.toLocaleDateString() %> <%= r.date.toLocaleTimeString() %></td>
          <td><button type="button" class="btn btn-default" onclick="openDetails('<%= r.songhref %>')">Track Features</button></td>
    		</tr>
    <% }); %>
  </tbody>
</table>

</div>

</body>
</html>
