<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Pandora Events</title>
  <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript">$(document).ready(function() { $("#myTable").tablesorter(); });</script>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Pandora Events</h2>

<table id="myTable" class = "tablesorter table" style="width: 100%;">
	<thead>
		<tr>
			<th>ID</th>
			<th>Event</th>
			<th>Username</th>
			<th>Station ID</th>
			<th>Station Name</th>
			<th>Song</th>
			<th>Shuffle Enabled?</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
    <% results.forEach(function(r) { %>
    		<tr>
    			<td><%= r.id %></td>
    			<td><%= r.event %></td>
    			<td><%= r.username %></td>
    			<td><%= r.stationid %></td>
    			<td><%= r.stationname %></td>
    			<td><%= if (r.songname) { %><a target="_blank" href="<%= r.songhref %>"><%= r.songname %></a><%= } else{ %><em>--</em><%= } %>
          </td>
    			<td><%= r.shuffleenabled %></td>
    			<td><%= new Date(r.date).toLocaleDateString() %> <%= new Date(r.date).toLocaleTimeString() %></td>
    		</tr>
    <% }); %>
  </tbody>
</table>

</div>

</body>
</html>
