<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <title>Pandora Events</title>
  <script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
  <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
  <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
  <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
  <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
  <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
  <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
  <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

  <script type="text/javascript">
    $(document).ready(function() { $("#myTable").tablesorter(); });
    function openDetails(href) {
      $.get('/pandora_scrape', {href: href}, function(resp) {console.log(resp);});
    }
  </script>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Pandora Events</h2>

<table id="myTable" class = "tablesorter table" style="width: 100%;">
	<thead>
		<tr>
			<th>ID</th>
			<th>Event</th>
			<th>Username</th>
			<th>Station ID</th>
			<th>Station Name</th>
			<th>Song</th>
			<th>Shuffle Enabled?</th>
			<th>Date</th>
      <th>Track Features</th>
		</tr>
	</thead>
	<tbody>
    <% results.forEach(function(r) { %>
    		<tr>
    			<td><%= r.id %></td>
    			<td><%= r.event %></td>
    			<td><%= r.username %></td>
    			<td><%= r.stationid %></td>
    			<td><%= r.stationname %></td>
    			<td><a target="_blank" href="<%= r.songhref %>"><%= r.songname %></a></td>
    			<td><%= r.shuffleenabled %></td>
    			<td><%= r.date.toLocaleDateString() %> <%= r.date.toLocaleTimeString() %></td>
          <td><button type="button" class="btn btn-default" onclick="openDetails('<%= r.songhref %>')">Track Features</button></td>
    		</tr>
    <% }); %>
  </tbody>
</table>

</div>

</body>
</html>
